<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if (typeof car !='undefined' ) { %>
        <title>
            <%= car.owner %>'s Car
        </title>
        <% } else {%>
            <title>
                Car Not Found
            </title>
            <% } %>
</head>

<body>
    <% if (typeof error !='undefined' ) { %>
        <h1 style='color: red;'>
            <%= error %>
        </h1>
        <% } else {%>
            <h1>
                <%= car.owner %>'s Car
            </h1>
            <h3>
                <%= car.year %>

                    <%= car.make %>

                        <%= car.model %>
            </h3>
            <% if (typeof user !='undefined' ) { %>
                <% if (!user.voted) { %>
                    <h2><a href="/api/vote/<%= car._id %>">Vote for this car!</a></h2>
                    <% } else if(user.voted && user.voted['_id']==car._id) { %>
                        <h2>You voted for me!</h2>
                        <% } %>
                            <% } else { %>
                                <a href="/api/auth/google?redirect_to=%2Fcar%2F<%= car._id %>">Login with google to
                                    vote</a>
                                <% } %>
                                    <% } %>
</body>

</html>