<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head.ejs') %>
        <title>SLUH Car Club</title>
</head>

<body>
    <h1 class="header">SLUH Car Club</h1>

    <% if (typeof error !='undefined' ) { %>
        <h1 style="color: red; margin-top: 0.5rem;">
            <%= error %>
        </h1>
        <br>
        <% } %>
            <div class="content">
                <% if (voting) { %>
                    <% if (typeof votedId !='undefined' ) { %>
                        <!-- User has already voted -->
                        <h2>You have voted for:</h2>
                        <h1>
                            <%= car.owner %>'s
                        </h1>
                        <h2>
                            <%= car.year %>
                                <%= car.make %>
                                    <%= car.model %>
                        </h2>
                        <% } else if (requireLogin) {%>
                            <!-- user isn't logged in -->
                            <h1>Login</h1>
                            <a href="/api/auth/google" class="login">
                                <div class="icon-button">
                                    <i class="fab fa-google"></i> <span>Login With Google To Vote</span>
                                </div>
                            </a>
                            <% } else { %>
                                <!-- user hasn't voted yet. -->
                                <h1>You haven't voted yet.</h1>
                                <h1>Go scan a QR code!</h1>
                                <% } %>

                                    <% } %>

                                        <% if (admin) { %>
                                            <a href="/admin" class="admin">
                                                <div class="icon-button">
                                                    <i class="fa fa-user"></i> <span style="font-size: 18px;">Admin
                                                        Page</span>
                                                </div>
                                            </a>
                                            <% } %>

                                                <br />
                                                <% if (registration) { %>
                                                    <h2>If you'd like to register your vehicle for the event
                                                        you may do
                                                        so below.</h2>
                                                    <a href="/registration" class="login">
                                                        <div class="icon-button">
                                                            <i class="fab fa-vehicle"></i>
                                                            <span>Registration</span>
                                                        </div>
                                                    </a>
                                                    <% } %>
            </div>
            <%- include('footer.ejs') %>
</body>

</html>